language: python
python:
- 2.7
services: docker
before_install:
- openssl aes-256-cbc -K $encrypted_4096e639581d_key -iv $encrypted_4096e639581d_iv
  -in secrets.tar.enc -out secrets.tar -d
- sudo apt-get update
- sudo apt-get install python3.4
- sudo apt-get install python3-pip
install:
- git clone --recursive https://github.com/systemslab/popper /tmp/popper
- export PATH=$PATH:/tmp/popper/cli/bin
- export PYTHONUNBUFFERED=1
script: popper run --skip=vagrant-linux
env:
- N_REPETITIONS: 5
