language: python
python:
- 2.7
services: docker
before_install:
- openssl aes-256-cbc -K $encrypted_1c8c5e59c746_key -iv $encrypted_1c8c5e59c746_iv
  -in pipelines/cloudlab-benchmarking/geni/cloudlab_credentials.zip.enc -out pipelines/cloudlab-benchmarking/geni/cloudlab_credentials.zip -d
- unzip pipelines/cloudlab-benchmarking/geni/cloudlab_credentials.zip -d pipelines/cloudlab-benchmarking/geni/
- sudo apt-get update
- sudo apt-get install python3.4
- sudo apt-get install python3-pip
install:
- git clone --recursive https://github.com/systemslab/popper /tmp/popper
- export PATH=$PATH:/tmp/popper/cli/bin
- export PYTHONUNBUFFERED=1
script: popper run 
env:
- N_REPETITIONS: 5
